.e1_28 { 
	overflow:hidden;
}
.e1_28 { 
	width:994px;
	height:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	position:absolute;
}
.e1_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1000px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_3 { 
	background-color:rgba(255, 199.0000033378601, 114.0000008046627, 1);
	width:150px;
	height:25px;
	position:absolute;
	left:12px;
	top:7px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_4 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:22px;
	position:absolute;
	left:34px;
	top:9px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_6 { 
	background-color:rgba(255, 193.00000369548798, 77.00000301003456, 1);
	width:370px;
	height:25px;
	position:absolute;
	left:510px;
	top:7px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:32px;
	height:20px;
	position:absolute;
	left:533px;
	top:9px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:20px;
	position:absolute;
	left:614px;
	top:9px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_10 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:20px;
	position:absolute;
	left:695px;
	top:9px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_11 { 
	color:rgba(0, 0, 0, 1);
	width:40px;
	height:20px;
	position:absolute;
	left:803px;
	top:9px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_66 { 
	background-color:rgba(255, 193.00000369548798, 77.00000301003456, 1);
	width:80px;
	height:25px;
	position:absolute;
	left:896px;
	top:7px;
}
.e1_68 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:20px;
	position:absolute;
	left:911px;
	top:9px;
	font-family:Comic Sans MS;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
